@model List<User>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Adınız</th>
        <th>Soyadınız</th>
        <th>Kullanıcı Adı</th>

        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.UserName</td>
            <td>
                <a href="/Setting/UserPassword/@item.UserId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }

</table>