@*
    Default Resume Section
*@
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Eğitim</h2>
        <p>Eğitim bilgilerim hakkında daha fazla bilgi</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            @await Component.InvokeAsync("_DefaultEducationComponent")

            @await Component.InvokeAsync("_DefaultExperienceComponent")
       
        </div>

    </div>

</section>

